.header {
    background: #ccc;
    padding: 30px;
}

.contetnt {
    margin-left: 50px;
}

.animal {
    display: flex;
    flex-direction: row;
}

.animal-info {
    display: flex;
    flex-direction: column;
}